//aqui voy a guardar coloeres,fuentes y estilos base que se van a usar en todo el proyecto
$primary-color: #2563eb;      
$secondary-color: #16a34a;   

$font-base: Consolas, "Courier New", monospace;
$space: 1rem;
$radius: 12px;
//somnbras
$shadow: 0 2px 10px rgba(0,0,0,.06);

//colores de fondo y texto prncipal
$bg-body: #f5f7fa;
$text-body: #2a2a2a;
$ring: #ffffff;
$accent-bg: #e6c9bd;
$sidebar-bg: #6d8f93;

