@use "variables";
@use "mixins";

//diseño de los botones y tarjetas(los cuadros blancos) y listas 

//base para boton
%button-base {
  padding: mixins.rem(10) mixins.rem(16);
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  box-shadow: variables.$shadow; //sombra en el boton
}

.button { @extend %button-base; background: variables.$primary-color; }
.button:hover { filter: brightness(0.95); }
.button--secondary { @extend %button-base; background: variables.$secondary-color; } 


//tarjetaaa del contenido
.card {
  background: #fff;
  border-radius: 12px; //redondear bordes
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,.06); 
}

//redondeon de las etiquetas de skilss y idiomas
.tag-list { display: flex; flex-wrap: wrap; gap: .5rem; padding: 0; list-style: none; }
.tag-list li { padding: .28rem .6rem; border-radius: 999px; background: #eef2ff; border: 1px solid #dbe1ff; }

//enlaces
a { color: variables.$primary-color; text-decoration: none; } 
a:hover { text-decoration: underline; }

.form-errors p { margin: 0; color: #b91c1c; } //rojo para errores del forms
